body {
  /* Minimum 16x, and grows more slowly */
  /* (half the rate of screen growth) */
  font-size: calc(16px + 0.5vw);
  /* Line-height based on font-size, */
  /* with addition viewport-relative growth */
  line-height: calc(1.1em + 0.5vw);
  margin: .5em;
  background-color: #f0f8ea;
}

h1 {
  /* Grows more quickly, */
  /* allowing for wider variation on larger screens */
  font-size: calc(20px + 1.5vw);
}

h2 {
  /* Based on the inherited text-size, */
  /* and therefor growing at the same rate */
  font-size: 1.2em;
}

h1,
h2 {
  font-weight: bold;
  font-family: 'Oxygen', sans-serif;
}

h1,
h2,
h3,
p,
a {
  margin: .5em 0;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

li {
  margin: .1em 0;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

caption {
    margin: 0;
    font-weight: bold;
    font-size: 1.3em;
    background: #eee;
    padding: 10px;
    border: 1px solid #ddd;
 }

.container {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
  border: 1px outset #ccc;
  box-shadow: 5px 10px 18px #888888;
  margin: 0.4em;
  padding: 0.2em;
}

.item {
  display: flex; /* or inline-flex */
  flex-wrap: wrap;
}

.head{
  width: 100%;
  justify-content: center;
}

.logo {
  height: 10em;
}

.link a:hover {
  background-color: #bcd8c1;
}

.game-content {
  width: 50%;
}

.max-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.game-text{
  width: 100%;
}

.game-img{
  height: 12em;
  align-self: flex-end;
}

.nav-hide {
  display: none;
}

.nav-burg {
  display: none;
}

.closebtn {
  top: 0;
  align-self: flex-end;
  font-size: 2em;
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d6dbb2;
    overflow-x: hidden;
    transition: 0.5s;
}

.button {
  width: 7em;
  transition: 0.3s;
  justify-content: center;
  padding: 0.5em;
  font-size: larger;
}

.button:hover {
  cursor: pointer;
  background-color: #bcd8c1;
}

#focus:focus {
  background-color: #bcd8c1;
}

.center {
  justify-content: space-evenly;
}

.no-decoration a{
  text-decoration: none;
}

.no-border{
  border: 0px outset #ccc;
  box-shadow: 0px 0px 0px #888888;
}

.no-padding-margin {
  margin: 0em;
  padding: 0em;
}

.list {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.flex-end {
  align-self: flex-end;
}

.green {
  color: #1b512d;
}

.grey {
  color: #808f87;
}

.font-os {
  font-family: 'Open Sans', sans-serif;
}

.item-signin {
      padding: .5em;
}

#arrows {
  background: #808f87;
}

#board {
  height: 30em;
}

#gameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 42%;
}

#sideInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

#results {
  font-family: 'Open Sans', sans-serif;
  font-size: larger;
}

#minutesDis {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  margin: 1 0 1 0em;
}

#secondsDis {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  margin: 1 0 1 0em;
}

#minutesSide {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  margin: 1 0 1 0em;
}

#secondsSide {
  font-size: 50px;
  font-family: 'Open Sans', sans-serif;
  margin: 1 0 1 0em;
}

#display {
  display: flex;
  font-size: larger;
  font-family: 'Open Sans', sans-serif;
  margin: 1em;
}

#displayS {
  display: flex;
  font-size: larger;
  font-family: 'Open Sans', sans-serif;
  margin: 1em;
}

#logout {
  display: none;
}

#login {
  display: flex;
}

#felt {
  position: relative;
  margin: 0 0 0 10em;
  height: 30em;
  width: 40%;
  background: green;
  background-image: -webkit-repeating-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0.2) 80px, rgba(255, 255, 255, 0.2) 150px);
  background-image: -moz-repeating-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0.2) 80px, rgba(255, 255, 255, 0.2) 150px);
  background-image: -o-repeating-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0.2) 80px, rgba(255, 255, 255, 0.2) 150px);
  background-image: -ms-repeating-linear-gradient(bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0.2) 80px, rgba(255, 255, 255, 0.2) 150px);
  background-image: repeating-linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 80px, rgba(255, 255, 255, 0.2) 80px, rgba(255, 255, 255, 0.2) 150px);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

#felt div {
  position: absolute;
  left: -140px;
  top: 100px;
  z-index: 0;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transition-property: left, top, -webkit-transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out, ease-out, ease-in-out;
}

#felt div img {
  width: 4em;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 1300px) {
  #gameInfo {
    width: 35%;
  }
}

@media (max-width: 1000px) {
  #felt {
    width: 50%;
  }

  #gameInfo {
    width: 20%;
  }
}

@media (max-width: 800px) {
  #felt {
    width: 50%;
  }

  #felt div img {
    width: 4em;
  }
}

@media (max-width: 700px) {
  p, h1, h2, h3, a {
    font-size: 30px;
  }

  .half-width {
    width: 100%;
  }

  .nav-burg {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }

  .hide-link {
    display: none;
  }

  .mobile-width {
    width: 30em;
  }

  .game-content {
    width: 100%;
  }

  #board {
    height: 38em;
  }

  #felt {
    margin: 7em 0 0 0;
    width: 100%;
  }

  #felt div {
    left: 140px;
    top: -110px;
  }

  #felt div img {
    width: 5em;
  }

  #gameInfo {
    display: none;
  }
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
    border: 1px solid #ccc;
  }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Games Played"; }
	td:nth-of-type(2):before { content: "Games Won"; }
	td:nth-of-type(3):before { content: "Successful Matches"; }
	td:nth-of-type(4):before { content: "Unsuccessful Matches"; }
	td:nth-of-type(5):before { content: "Time"; }
}
